<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My project I</title>
        <link rel="stylesheet" href="../styles/mainPage.css">
    </head>
    <body>
        <!-- Заголовок -->
        <header class="header">
            <div class="header_box wrapper">
                <img src="../src/icons8-авиакомпания-50.png" class="header_box_logo" alt="logo">
                <ul class="header_list">
                    <li class="header_list-item">Корпоративным клиентам</li>
                    <li class="header_list-item">
                        Авиабилеты
                        <select name="avia" class="language"></select>
                    </li>
                    <li class="header_list-item">
                        Справка
                        <select name="reference" class="language"></select>
                    </li>
                    <li class="header_list-item">
                        <img src="../src/globe.svg" class="globe" alt="logo">
                        <select name="language" id="languages" class="language">
                            <option value="Русский" selected>Русский</option>
                            <option value="Английский">Английский</option>
                            <option value="Арабский">Арабский</option>
                        </select>
                    </li>
                </ul>
                <div class="menu">
                    <img src="../src/globe.svg" alt="globe">
                    <img src="../src/menu.png" alt="menu">
                </div>
            </div>
            <section class="header_search wrapper">
                <p class="header_search_title">Лучшие авиабилеты по самым низким ценам</p>
                <div class="header_search_chips">
                    <div class="chip">Авиабилеты</div>
                    <div class="chip">Ж/Д билеты</div>
                    <div class="chip">Автобусы</div>
                    <div class="nested-chip">
                        Отели
                        <div class="nested-chip_nest">
                            -60%
                        </div>
                    </div>
                    <div class="chip">Страхование</div>
                </div>
                <div class="header_search_fields">
                    <div class="header_search_fields_left">
                        Откуда:
                        <input
                            class="hide"
                            type="text"
                            name="from"
                            id="from"
                            placeholder="Страна, город или аэропорт"
                            required
                        >
                        <div class="fromBlock" id="fromBlock">
                            <div id="city"></div>
                        </div>
                        <img src="../src/left_and_right_arrows.svg" class="header_search_fields_left_arrow" alt="arrow">
                    </div>
                    <div class="header_search_fields_center">
                        Куда:
                        <select name="to" id="to" style="border: none;">
                            <option selected disabled>Страна, город или аэропорт</option>
                            <option value="Шанхай">Шанхай</option>
                            <option value="Анкара">Анкара</option>
                            <option value="Белград">Белград</option>
                            <option value="Минск">Минск</option>
                            <option value="Баку">Баку</option>
                            <option value="Тбилиси">Тбилиси</option>
                            <option value="Астана">Астана</option>
                        </select>
                    </div>
                    <div class="header_search_fields_center">
                        Туда - Обратно:
                        <div>
                            <button class="hide" id="hide">Календарь</button>
                        </div>
                        <div class="calendar" id="calendar">
                            <div>
                                <button class="dataPickerBtn" type="button" id="prev">Пред.</button>
                                <button class="dataPickerBtn" type="button" id="next">След.</button>
                            </div>
                            <div id="month"></div>
                            <div id="daysTitle"></div>
                            <div id="days"></div>
                            <div>
                                <button class="dataPickerBtn" type="button" id="cancel">Cancel</button>
                                <button class="dataPickerBtn" type="button" id="ok">Ок</button>
                            </div>
                        </div>
                    </div>
                    <div class="header_search_fields_right">
                        Выберите пассажиров
                        <button class="passBtn" id="passBtn">Пассажиры, класс</button>
                        <div class="pass" id="pass">
                            <span class="pass_label">Максимум 9 пассажиров</span>
                            <ul>
                                <li class="list">
                                    <div class="title">
                                        <div>Взрослые</div>
                                        <div class="title_small">старше 12 лет</div>
                                    </div>
                                    <div class="list_btn-boxs">
                                        <button type="button" class="list_btn_sign minus" data-id="0">-</button>
                                        <span data-id="0" class="counter">0</span>
                                        <button type="button" class="list_btn_sign plus" data-id="0">+</button>
                                    </div>
                                </li>
                                <li class="list">
                                    <div class="title">
                                        <div>Дети</div>
                                        <div class="title_small">2 - 12 лет</div>
                                    </div>
                                    <div class="list_btn-boxs">
                                        <button type="button" class="list_btn_sign minus" data-id="1">-</button>
                                        <span data-id="1" class="counter">0</span>
                                        <button type="button" class="list_btn_sign plus" data-id="1">+</button>
                                    </div>
                                </li>
                                <li class="list">
                                    <div class="title">
                                        <span>Младенцы</span>
                                        <div class="title_small">до 2 лет</div>
                                    </div>
                                    <div class="list_btn-boxs">
                                        <button type="button" class="list_btn_sign minus" data-id="2">-</button>
                                        <span data-id="2" class="counter">0</span>
                                        <button type="button" class="list_btn_sign plus" data-id="2">+</button>
                                    </div>
                                </li>
                            </ul>
                            <br>
                            <hr>
                            <br>
                            <div class="title">
                                <div>Класс</div>
                            </div>
                            <div class="chips">
                                <div class="chips_item">Любой</div>
                                <div class="chips_item">Бизнес</div>
                                <div class="chips_item">Эконом</div>
                            </div>
                            <button type="button" class="pass_btn" id="passOk">OK</button>
                        </div>
                    </div>
                    <div class="header_search_fields_btn" id="search">Найти</div>
                </div>
                <script src="../scripts/script.js"></script>
                <p class="header_search_litleText">
                    Сложный маршрут
                </p>
            </section>
        </header>
        <!-- Основная часть -->
        <main class="main">
            <!-- Секция инфо о билетах -->
            <section class="main_tickets wrapper">
                <div class="main_tickets_card">
                    <p class="main_tickets_card_bigText">
                        Управляйте вашими билетами в Telegram
                    </p>
                    <div class="main_tickets_card_smallTextBox">
                        <div class="main_tickets_card_smallTextBox_block">
                            <div style="font-weight: bold; ">&check;</div>
                            <div class="grayStyle">Доступ к билетам и кабинету</div>
                        </div>
                        <div class="main_tickets_card_smallTextBox_block">
                            <div style="font-weight: bold; ">&check;</div>
                            <p class="grayStyle">Агентская поддержка</p>
                        </div>
                        <div class="main_tickets_card_smallTextBox_block">
                            <div style="font-weight: bold; ">&check;</div>
                            <p class="grayStyle">FAQ</p>
                        </div>
                    </div>
                    <div class="main_tickets_card_btn">Посмотреть возможности</div>
                    <img src="../src/chat.png" class="main_tickets_card_icon" alt="chat">
                </div>
                <div class="main_tickets_card">
                    <p class="main_tickets_card_bigText">
                        Билеты на автобус по Китаю и Европе
                        <p>
                            <div class="main_tickets_card_smallTextBox">
                                <div class="main_tickets_card_smallTextBox_block">
                                    <div style="font-weight: bold;">&check;</div>
                                    <p class="grayStyle">Удобное сравнение цен</p>
                                </div>
                                <div class="main_tickets_card_smallTextBox_block">
                                    <div style="font-weight: bold; ">&check;</div>
                                    <p class="grayStyle">Актуальное расписание</p>
                                </div>
                            </div>
                            <div class="main_tickets_card_red-btn">Найти билеты</div>
                            <img src="../src/bus.png" class="main_tickets_card_icon" alt="bus">
                        </div>
                    </section>
                    <!-- Секция популярные направления и TOP-10 -->
                    <section class="main_card wrapper">
                        <div class="main_card_share">
                            <div class="main_card_share_title">Популярные направления</div>
                            <div class="main_card_pop_dest">
                                <div class="share_card">
                                    <div class="main_card_pop_dest_flight_price">
                                        <p class="grayStyle">
                                            Варшава &rarr; Милан
                                            <p class="main_card_pop_dest_flight_price_price">от 771 &#8372;</p>
                                        </div>
                                        <div class="main_card_pop_dest_flight_price">
                                            <p class="grayStyle">
                                                Варшава &rarr; Лондон
                                                <p class="main_card_pop_dest_flight_price_price">от 1 001 &#8372;</p>
                                            </div>
                                            <div class="main_card_pop_dest_flight_price">
                                                <p class="grayStyle">
                                                    Варшава &rarr; Аликанте
                                                    <p class="main_card_pop_dest_flight_price_price">от 1 424 &#8372;</p>
                                                </div>
                                                <div class="main_card_pop_dest_flight_price">
                                                    <p class="grayStyle">
                                                        Варшава &rarr; Мадрид
                                                        <p class="main_card_pop_dest_flight_price_price">от 1 646 &#8372;</p>
                                                    </div>
                                                    <div class="main_card_pop_dest_flight_price">
                                                        <p class="grayStyle">
                                                            Варшава &rarr; Барселона
                                                            <p class="main_card_pop_dest_flight_price_price">от 1 663 &#8372;</p>
                                                        </div>
                                                    </div>
                                                    <div class="share_card">
                                                        <div class="main_card_pop_dest_flight_price">
                                                            <p class="grayStyle">
                                                                Варшава &rarr; Амстердам
                                                                <p class="main_card_pop_dest_flight_price_price">от 3 256 &#8372;</p>
                                                            </div>
                                                            <div class="main_card_pop_dest_flight_price">
                                                                <p class="grayStyle">
                                                                    Варшава &rarr; Лиссабон
                                                                    <p class="main_card_pop_dest_flight_price_price">от 3 364 &#8372;</p>
                                                                </div>
                                                                <div class="main_card_pop_dest_flight_price">
                                                                    <p class="grayStyle">
                                                                        Варшава &rarr; Париж
                                                                        <p class="main_card_pop_dest_flight_price_price">от 4 077 &#8372;</p>
                                                                    </div>
                                                                    <div class="main_card_pop_dest_flight_price">
                                                                        <p class="grayStyle">
                                                                            Варшава &rarr; Нью-Йорк
                                                                            <p class="main_card_pop_dest_flight_price_price">от 21 277 &#8372;</p>
                                                                        </div>
                                                                        <div class="main_card_pop_dest_flight_price">
                                                                            <p class="grayStyle">
                                                                                Варшава &rarr; Денпасар-Бали
                                                                                <p class="main_card_pop_dest_flight_price_price">от 25 573 &#8372;</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="main_card_rating">
                                                                    <div class="main_card_rating_title">
                                                                        <span>ТОП-10 авиакомпаний</span>
                                                                        <span class="info">Подробнее</span>
                                                                    </div>
                                                                    <div class="main_card_rating_top">
                                                                        <div class="main_card_rating_top_flex_row">
                                                                            <div class="main_card_rating_top_flex_row_airline">
                                                                                <div class>1</div>
                                                                                <div class="airline">Эмирейтс</div>
                                                                            </div>
                                                                            <div class="main_card_rating_top_flex_row_airline">
                                                                                <div>2</div>
                                                                                <div class="airline">Катар Эйрвейз</div>
                                                                            </div>
                                                                            <div class="main_card_rating_top_flex_row_airline">
                                                                                <div>3</div>
                                                                                <div class="airline">Тюркиш Эйрлайнз</div>
                                                                            </div>
                                                                            <div class="main_card_rating_top_flex_row_airline">
                                                                                <div>4</div>
                                                                                <div class="airline">Сингапур Эйрлайнз</div>
                                                                            </div>
                                                                            <div class="main_card_rating_top_flex_row_airline">
                                                                                <div>5</div>
                                                                                <div class="airline">Кореан Эйр</div>
                                                                            </div>
                                                                            <div class="main_card_rating_top_flex_row_airline">
                                                                                <div>6</div>
                                                                                <div class="airline">Этихад Эйрвэйз</div>
                                                                            </div>
                                                                            <div class="main_card_rating_top_flex_row_airline">
                                                                                <div>7</div>
                                                                                <div class="airline">Китай Пасифик</div>
                                                                            </div>
                                                                            <div class="main_card_rating_top_flex_row_airline">
                                                                                <div>8</div>
                                                                                <div class="airline">Эйр Астана</div>
                                                                            </div>
                                                                            <div class="main_card_rating_top_flex_row_airline">
                                                                                <div>9</div>
                                                                                <div class="airline">Верджин Атлантик Эйрвэйз</div>
                                                                            </div>
                                                                            <div class="main_card_rating_top_flex_row_airline">
                                                                                <div>10</div>
                                                                                <div class="airline">Эйр Нью Зиланд</div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="main_card_rating_top_flex_row">
                                                                            <div class="main_card_rating_top_flex_row_star">
                                                                                <div class="star">&#9733;</div>
                                                                                <div class="grayStyle">4.7</div>
                                                                            </div>
                                                                            <div class="main_card_rating_top_flex_row_star">
                                                                                <div class="star">&#9733;</div>
                                                                                <div class="grayStyle">4.7</div>
                                                                            </div>
                                                                            <div class="main_card_rating_top_flex_row_star">
                                                                                <div class="star">&#9733;</div>
                                                                                <div class="grayStyle">4.7</div>
                                                                            </div>
                                                                            <div class="main_card_rating_top_flex_row_star">
                                                                                <div class="star">&#9733;</div>
                                                                                <div class="grayStyle">4.7</div>
                                                                            </div>
                                                                            <div class="main_card_rating_top_flex_row_star">
                                                                                <div class="star">&#9733;</div>
                                                                                <div class="grayStyle">4.7</div>
                                                                            </div>
                                                                            <div class="main_card_rating_top_flex_row_star">
                                                                                <div class="star">&#9733;</div>
                                                                                <div class="grayStyle">4.6</div>
                                                                            </div>
                                                                            <div class="main_card_rating_top_flex_row_star">
                                                                                <div class="star">&#9733;</div>
                                                                                <div class="grayStyle">4.5</div>
                                                                            </div>
                                                                            <div class="main_card_rating_top_flex_row_star">
                                                                                <div class="star">&#9733;</div>
                                                                                <div class="grayStyle">4.5</div>
                                                                            </div>
                                                                            <div class="main_card_rating_top_flex_row_star">
                                                                                <div class="star">&#9733;</div>
                                                                                <div class="grayStyle">4.5</div>
                                                                            </div>
                                                                            <div class="main_card_rating_top_flex_row_star">
                                                                                <div class="star">&#9733;</div>
                                                                                <div class="grayStyle">4.5</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </section>
                                                            <!--секция Горячих распродаж  и частые вопросы-->
                                                            <section class="main_card wrapper">
                                                                <div class="sale">
                                                                    <div class="sale_title">Горящие распродажи авиарейсов</div>
                                                                    <div class="sale_block">
                                                                        <p class="title">Как найти авиабилеты со скидкой онлайн</p>
                                                                        <p class="text">
                                                                            На нашем сайте вы можете купить билеты на самолет или офрмить ранее бронирование
                                                                                Акции, скидки и специальные предложения, которые постоянно предлагают ведущие авиакомпании-лоукостеры, позволяют
                                                                                приобрести недорогие авиабилеты не выходя из дома. Если хотите сэкономить и купить авиабилеты дешевле, обратите внимание на рейсы с пересадками.
                                                                                А вот время - как драгоценную валюту для путешественника - помогают сэкономить прямые перелеты, пусть
                                                                                они и стоят дороже билетов с пересадками.
                                                                        </p>
                                                                        <p class="title">Клиентская поддержка</p>
                                                                        <p class="text">
                                                                            Какой билет заказать для ребенка? Где внести данные о визе? Можно ли поменять даты вылета? Как оформить дополнительный багаж?
                                                                                        Операторы нашей службы поддержки знают ответы на все вопросы о перелетах. Мы сопровождаем ваши бронирования в режиме 24/7/365, на украинском,
                                                                                        русском и английском языках. Всегда поможем подобрать, оплатить или внести изменения в билет быстро и удобно! С помощью удобного поиска
                                                                                        сделать заказ авиабилетов по интернетуможно дешево и безопасно.
                                                                        </p>
                                                                        <p class="title">Бонусная программа для постоянных клиентов</p>
                                                                        <p class="text">
                                                                            За покупку авиабилетов на нашем сайте вы получите бонусы - 1% от суммы транзакции. Накопив достаточное количество баллов, можно оплатить ими билеты
                                                                                        или самолет при следующих покупках. Максимальная скидка, которую можно получить благодаря бонусной программе, - 25%.
                                                                        </p>
                                                                        <p class="title">Самые дешевые авиабилеты</p>
                                                                        <p class="text">
                                                                            Как и где купить авиабилеты дешево? Сотрудничество с 750 авиакомпаниями позволяет нам формировать гибкие тарифы и предлагать нашим клиентам лучшие условия. 
                                                                                        Наш сайт-агрегатор авиарейсов оперативно обрабатывает ваши запросы и выдает все доступные варианты. Вы можете воспользоваться фильтрами и отсортировать предложения по 
                                                                                        перевозчикам, времени вылета и другим параметрам.
                                                                        </p>
                                                                        <p class="title">Сравнение цен на авиабилеты</p>
                                                                        <p class="text">
                                                                            У нас всегда можно забронировать очень дешевые авиабилеты по Украине, Европе и в другие части мира. Наша система динамики цен определит лучшее время для покупки, а также подскажет 
                                                                                       высокий и низкий сезон для путешествий по тем или иным маршрутам.
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="chapter_about">
                                                                    <div class="chapter_about_title">Частые вопросы</div>
                                                                    <div class="chapter_about_question">
                                                                        <p class="airline">Как забронировать авиабилет</p>
                                                                        <p class="airline">Как оплатить авиабилет</p>
                                                                        <p class="airline">Как зарегистрироваться на рейс</p>
                                                                        <p class="airline">Как вернуть авиабилет</p>
                                                                        <p class="airline">Бонусная программа</p>
                                                                        <p class="airline">Все темы</p>
                                                                    </div>
                                                                    <div class="chapter_about_advertising">
                                                                        <span class="chapter_about_advertising_text">
                                                                            Лучшие предложения
                                                                            <pre>для путешествий</pre>
                                                                        </span>
                                                                        <div class="chapter_about_advertising_feedback">
                                                                            <input
                                                                                class="chapter_about_advertising_feedback_input"
                                                                                id="sendEmail"
                                                                                type="text"
                                                                                placeholder="Email"
                                                                                required
                                                                            >
                                                                            <div class="chapter_about_advertising_feedback_icon" id="exclamation">!</div>
                                                                            <div class="chapter_about_advertising_feedback_btn" id="sendBtn">
                                                                                >
                                                                            </div>
                                                                            </input>
                                                                            <script src="../scripts/footer-script.js"></script>
                                                                        </div>
                                                                        <img src="../src/laptop.svg" class="chapter_about_advertising_icon" alt="laptop">
                                                                    </div>
                                                                </div>
                                                            </section>
                                                        </main>
                                                        <footer class="footer wrapper">
                                                            <div class="footer_icons">
                                                                <img src="https://upload.wikimedia.org/wikipedia/commons/5/5d/IATA_logo.svg" class="icon" alt="ИАТА">
                                                                <img src="../src/pci-logo-teal.svg" class="icon" alt="PCI">
                                                                <img src="https://upload.wikimedia.org/wikipedia/commons/d/d6/Visa_2021.svg" class="icon" alt="VISA">
                                                                <img src="https://upload.wikimedia.org/wikipedia/commons/2/2a/Mastercard-logo.svg" class="icon" alt="MASTERCARD">
                                                            </div>
                                                            <div class="footer_lists">
                                                                <div class="footer_lists_li">
                                                                    <div class="footer_lists_li_title">Страны</div>
                                                                    <div>Испания</div>
                                                                    <div>Турция</div>
                                                                    <div>Египет</div>
                                                                    <div>Грузия</div>
                                                                    <div>Польша</div>
                                                                    <div>Франция</div>
                                                                    <div class="footer_lists_li_pointer">Все страны &rarr;</div>
                                                                </div>
                                                                <div class="footer_lists_li">
                                                                    <div class="footer_lists_li_title">Города</div>
                                                                    <div>Кишинев</div>
                                                                    <div>Дубаи</div>
                                                                    <div>Варшава</div>
                                                                    <div>Прага</div>
                                                                    <div>Париж</div>
                                                                    <div>Франкфурт</div>
                                                                    <div class="footer_lists_li_pointer">Все города &rarr;</div>
                                                                </div>
                                                                <div class="footer_lists_li">
                                                                    <div class="footer_lists_li_title">Направления</div>
                                                                    <div>Кишинев - Стамбул</div>
                                                                    <div>Кишинев - Анталия</div>
                                                                    <div>Варшава</div>
                                                                    <div>Прага</div>
                                                                    <div>Париж</div>
                                                                    <div>Франкфурт</div>
                                                                    <div class="footer_lists_li_pointer">Все направления &rarr;</div>
                                                                </div>
                                                                <div class="footer_lists_li">
                                                                    <div class="footer_lists_li_title">Аэропорты</div>
                                                                    <div>Ф.Шопен (Варшава)</div>
                                                                    <div>Франкфурт Интернешнл</div>
                                                                    <div>Аэропорт Кишенев (Кишенев)</div>
                                                                    <div>Фиумичино (Рим)</div>
                                                                    <div>Аэропорт Стамбула (Стамбул)</div>
                                                                    <div>Шарль Де Голл (Париж)</div>
                                                                    <div class="footer_lists_li_pointer">Все аэропорты &rarr;</div>
                                                                </div>
                                                                <div class="footer_lists_li">
                                                                    <div class="footer_lists_li_title">Авиакомпании</div>
                                                                    <div>Тюркиш Эйрлайнз</div>
                                                                    <div>Wizz Air Украина</div>
                                                                    <div>Qatar Airways</div>
                                                                    <div>Ryanair</div>
                                                                    <div>Air Baltic</div>
                                                                    <div class="footer_lists_li_invisible">.</div>
                                                                    <div class="footer_lists_li_pointer">Все авиакомпании &rarr;</div>
                                                                </div>
                                                                <div class="footer_lists_li">
                                                                    <div class="footer_lists_li_title">Наши сервисы</div>
                                                                    <div>Рейтинг авиакомпаний</div>
                                                                    <div>Сравнение цен</div>
                                                                    <div>Расписание рейсов</div>
                                                                    <div>Акции</div>
                                                                    <div class="footer_lists_li_invisible">.</div>
                                                                    <div class="footer_lists_li_invisible">.</div>
                                                                    <div class="footer_lists_li_pointer">Карта сайта &rarr;</div>
                                                                </div>
                                                            </div>
                                                            <hr>
                                                            <div class="footer_navigation">
                                                                <div class="footer_navigation_block">
                                                                    <div>Все страны</div>
                                                                    <img class="footer_navigation_block_arrow" src="../src/arrow-right.svg" alt="arrow">
                                                                </div>
                                                                <div class="footer_navigation_block">
                                                                    <div>Все города</div>
                                                                    <img class="footer_navigation_block_arrow" src="../src/arrow-right.svg" alt="arrow">
                                                                </div>
                                                                <div class="footer_navigation_block">
                                                                    <div>Все направления</div>
                                                                    <img class="footer_navigation_block_arrow" src="../src/arrow-right.svg" alt="arrow">
                                                                </div>
                                                                <div class="footer_navigation_block">
                                                                    <div>Все аэропорты</div>
                                                                    <img class="footer_navigation_block_arrow" src="../src/arrow-right.svg" alt="arrow">
                                                                </div>
                                                                <div class="footer_navigation_block">
                                                                    <div>Все авиакомпании</div>
                                                                    <img class="footer_navigation_block_arrow" src="../src/arrow-right.svg" alt="arrow">
                                                                </div>
                                                                <div class="footer_navigation_block">
                                                                    <div>Карта сайта</div>
                                                                    <img class="footer_navigation_block_arrow" src="../src/arrow-right.svg" alt="arrow">
                                                                </div>
                                                            </div>
                                                            <div class="footer_contacts">
                                                                <div class="footer_contacts_apps">
                                                                    <div class="footer_contacts_apps_blue">
                                                                        Партнерская программа
                                                                    </div>
                                                                    <div class="footer_contacts_apps_black">
                                                                        <div class="footer_contacts_apps_black_item">
                                                                            <img class="footer_contacts_apps_icon" src="../src/play-store-google.svg">
                                                                            <span>Google Play</span>
                                                                        </div>
                                                                        <div class="footer_contacts_apps_black_item">
                                                                            <img class="footer_contacts_apps_icon" src="../src/free-icon-apple-logo-94225.png">
                                                                            <span>App Store</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="footer_contacts_networks">
                                                                    <img class="footer_contacts_networks_icon" src="../src/icons8-facebook-новый.svg">
                                                                    <img class="footer_contacts_networks_icon" src="../src/icons8-instagram.svg">
                                                                    <img class="footer_contacts_networks_icon" src="../src/icons8-телеграмма-app.svg">
                                                                </div>
                                                            </div>
                                                        </footer>
                                                    </body>
                                                </html>
